{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="cPGCON-2021 is a Post Graduate Conference, an annual event for PG students and research scholars, organized by the Department of Computer Engineering, ...">
        <meta name="keywords" content="CPGCON, CPGCON2021, SKNCOE, Sinhgad, cpgcon 2021, cPGCON">
        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=2, minimum-scale=0.5, user-scalable=2">
        <meta name="author" content="pratikpatil">
        <meta name="robots" content="index, follow" />
        <title> cPGCON | Sinhagad Institute</title>
        <link rel="stylesheet" href="{% static 'stylesheets\font-awesome-4.7.0\css\font-awesome.min.css' %}">
        <link type="text/css" href="{% static 'stylesheets/base.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'stylesheets/bootstrap/bootstrap.css' %}" rel="stylesheet">
        <base href="/">
    </head>
   
    <body id="body">
        
        {% include "navigation_bar.html" %}

        <Div id="wrapper" class="wrapper">
            {% block content %}
                replace me
            {% endblock %}
        </Div>
        <div id="footer-wrapper" class="footer-wrapper">
            {% include "footer.html" %}
        </div>
      
      
    </body>

    <script src="{% static 'scripts/bootstrap/bootstrap.bundle.min.js'%}" ></script>
    <script src="{% static 'scripts/jquery/dist/jquery.min.js'%}"></script>
    <script  src="{% static 'scripts/popper.js/dist/umd/popper.min.js'%}"></script>
</html>